/*-- scss:defaults --*/
// Base document colors
//$body-bg: #181818;
//$body-color: white;
//$link-color: lighten(#303D4E, 10%);

// Code blocks
$code-block-bg-alpha: -.8;

/* css styles */
#heading > .about-links {
  justify-content: center;
}

#heading > div > p > a {
  padding-left: 10px;
  padding-right: 10px;
  //font-size: 36px;
}
